$color-primary: #ff9500;
$color-primary-m: #f3c691;
$color-primary-s: #e3cdad;
$color-primary-xs: #efe8de;

$color-secondary: #2f3640;
$color-secondary-m: #171e28;
$color-secondary-s: #11181fe3;
$color-secondary-xs: #212a333d;

$color-tertiary: #54000049;
$color-tertiary-m: #54000026;

$color-light: #ffffff;
$color-light-l: #acacc1;
$color-light-m: #f3f3f3;
$color-light-s: #ffffff66;
$color-light-xs: #ffffff7f;

$color-dark: #505050;
$color-dark-m: #0000003f;
$color-dark-s: #0000000f;
