@use './constants' as constants;

@mixin button($width, $height, $font-size, $color, $background, $border-size,
$border-radius) {
  width: $width;
  height: $height;

  font-size: $font-size;
  font-weight: 500;

  color: $color;
  background-color: $background;

  @include button-border($border-size, $border-radius);

  transition: transform 150ms ease-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin button-border($size, $radius) {
  border: 0.5px solid constants.$color-light-xs;
  border-radius: $radius;
  box-shadow: 0 $size $size constants.$color-dark-m;
}
